 
<div class='container main-container' id='applicant-page'>

    <div id='applicant-info' class='row'>
        <div class="index-half-left col-xs-5 col-md-5 text-left">
            <h3><span ng-show='editApplicantInfo==false'>{{applicant.name}}</span><input ng-show='editApplicantInfo==true' type='text' ng-model='applicant.name'></h3>
            <p><em>Role:</em> <span ng-show='editApplicantInfo==false'>{{applicant.role}}</span><input ng-show='editApplicantInfo==true' type='text' ng-model='applicant.role'></p>
            <p><em>Goalie:</em> <span ng-show='editApplicantInfo==false'>{{interviewersMap[applicant.goalie].name}}</span>
                <select ng-show='editApplicantInfo==true' ng-model="applicant.goalie" ng-options="interviewer.name for interviewer in interviewersList">
                    <option value="applicant.goalie">-select-</option>
                </select>
            </p>
        </div>
        <div class="well index-half-right col-xs-5 col-md-5 text-left">
            <button id='updateApplicantInfo-btn' ng-click="updateApplicantInfo()" class="float-right btn btn-default"><h3>Edit</h3></button>
            <a href=''>View Resume</a>
            <p><em>Email:</em> <span ng-show='editApplicantInfo==false'>{{applicant.email}}</span><input ng-show='editApplicantInfo==true' type='text' ng-model='applicant.email'></p>
            <p><em>Phonenumber:</em> <span ng-show='editApplicantInfo==false'>{{applicant.phonenumber}}</span><input ng-show='editApplicantInfo==true' type='text' ng-model='applicant.phonenumber'></p>
        </div>
    </div>


    <div id="tasks-container" class="panel panel-primary">
        <div class="panel-heading">
            <button id="add-applicant-button" ng-click="addNewPressed()" class="add-btn btn btn-success">+</button>
            <span>Applicants</span>
        </div>

        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due</th>
                        <th>Assignee</th>
                        <th>Feedback Due</th>
                        <th>Feedback</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-show="addNew==true">
                        <td><input type='text' placeholder='Task name' ng-model='new_applicant.name'></td>
                        <td><input type='text' placeholder='Role' ng-model='new_applicant.role'></td>
                        <td>
                            <select id='AMvPM' ng-model="new_applicant.goalie" ng-options="interviewer.name for interviewer in interviewers">
                                <option value="">-select-</option>
                            </select>
                        </td>
                        <td><button id="add-applicant" ng-click="addApplicant()" class="btn btn-success">Add</button></td>
                    </tr>

                    <tr ng-repeat="applicant in applicantsList | filter:applicants_filter | orderBy:'asof':true">
                        <td class="applicant-name"><a href="/applicant/?id={{applicant.id}}">{{applicant.name}}</a></td>
                        <td class="applicant-role">{{applicant.role}}</td>
                        <td class="applicant-goalie">{{interviewersMap[applicant.goalie].name}}</td>
                        <td class="applicant-tasks">{{applicant.tasks}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
